:root {
    --rich-black-fogra-29: #0d1321ff;
    --pacific-blue: #23b5d3ff;
    --pewter-blue: #75abbcff;
    --cadet-blue-crayola: #a2aebbff;
    --gainsboro: #dfe0e2ff;
    --red-salsa: #f03a47ff;
}

body {
    background-color: var(--gainsboro);
}

#mineSweeper {
    background-color: var(--rich-black-fogra-29);
    margin: auto;
}

#flagsDiv, #timerDiv {
    width: 40%;
    font-size: 4em;
    color: var(--cadet-blue-crayola);
}

#flagsDiv {
    float: left;
}

#timerDiv {
    float: right;
}

#timer {
    float: right;
}

#smileyDiv {
    width: 20%;
    display: inline-block;
}

#smiley {
    border: 0.2em solid var(--gainsboro);
    border-radius: 50%;
    height: 4em;
    width: 4em;
    display: block;
    margin: auto;
}

.cell {
    background-color: var(--pacific-blue);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3em 3em;
    border: 0.2em solid var(--gainsboro);
    color: var(--rich-black-fogra-29);
    width: 3em;
    height: 3em;
    font-size: 1em;
}

.cellExposed {
    background-color: var(--gainsboro);
    border: 0.2em solid var(--pacific-blue);
}

.cellExposed.cellMined {
    background-color: var(--red-salsa);
    background-image: url("../images/mine.png");
}

.cellFlagged {
    background-image: url("../images/flag.png");
}

.cellQuestioned {
    background-image: url("../images/question-mark.png");
}
