.cell {
    background-color: #000000;
    color: red;
}

.cellExposed {
    background-color: #FFFFFF; !important
}

.cellFlagged {
    background-color: blue;
}

.cellQuestioned {
    background-color: yellow;
}

.cellExposed.cellMined {
    background-color: red;
}
